/*----------------GENERAL --------------------*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color:#272829 ;
    color:  #BBBBBB
}
/*----------------HEADER --------------------*/

header{
    width: 100%;
    height: 7vh; 
}
.diaposNav{
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 2rem;
    gap: 3px;
}
.nav{
 display: flex;    
}

/*----------------IndexHome --------------------*/
/*------Body IndexHome ----*/

.bigLogo{
    width: 100%;
    height: 50vh;
    text-align: center;
}

/*----------------IndexHome --------------------*/
/*------Body Page2 ----*/
